<!--
  Generated template for the OrgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button icon-only (click)="menuToogle()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      Organizaciones
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only icon-right>
        <ion-icon>
          <img src="assets/logo.svg" alt="" height="10%" width="50px">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="card-background-page">
  
  <ion-refresher (ionRefresh)="recargar($event)" color="paleta5">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngFor="let org of (_obs.org)?.reverse()">
    <ion-card (click)="descrip(org)" *ngIf="ifTipo(org.Type)">
      <img class="card-img" [src]="icon(org.foto)" />
      <div class="card-title">{{org.name}}</div>
      <div class="card-subtitle">{{org.email}}</div>
    </ion-card>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select [(ngModel)]="tipo" cancelText="Cancelar" okText="Seleccionar">
        <ion-option value="todos" selected="true">Todos</ion-option>
        <ion-option *ngFor="let tip of _obs.tipoOrg" [value]="tip.nombre">{{tip.nombre}}</ion-option>
  
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-footer>